.App {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .App {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .conApptainer {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .App {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .App {
    max-width: 1140px;
  }
}
body{
  font-family: monospace;
}
/* Header */
.header{
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerText{
  padding-left: 14px;
  font-size: 40px;
}
/* Body */
.body{
  margin-top: 90px;
}
/* PostLink */
.title{
  font-size: 25px;
  text-decoration:none;
}

.title:hover{
  text-decoration:underline;
}

/* Footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
